.label, .text {
    -fx-text-fill: rgb(171, 220, 255);
}

.titled-pane .title {
    -fx-background-color: radial-gradient(center 0px 0px, radius 50%, rgb(109, 142, 168), rgb(88, 116, 137), rgb(71, 93, 110));
}
.titled-pane .title .text {
    -fx-fill: rgb(171, 220, 255);
}

.titled-pane .content VBox {
    -fx-background-color: rgb(56, 73, 86);
}

.titled-pane .content {
    -fx-border-color: rgb(109, 142, 168);
}