.soundEntry {
    -fx-background-color: transparent;
}

.soundEntry.playing {
    -fx-background-color: rgb(255,255,255,0.1);
}

.soundEntry Label {
    -fx-text-fill: rgb(171, 220, 255);
    -fx-font-size: 14px;
}

.soundEntry ProgressBar .track {
    -fx-background-color: transparent;
}

.soundEntry ProgressBar .bar {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.soundEntry Button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 1px 2px 1px 2px;
    -fx-border-color: rgb(140, 180, 209);
}