Label {
    -fx-text-fill: rgb(171, 220, 255);
}

#buffsTracker {
    -fx-border-color: rgb(171, 220, 255, 0.5);
    -fx-border-insets: 0;
    -fx-border-width: 1 0 0 1;
    -fx-border-style: solid;
}